.container {
  display: grid;
  gap: 16px;
  margin-top: 40px;
  /* background-color: cadetblue; */
  padding-bottom: 40px;
}
/* .form {
  display: grid;
  gap: 16px;
} */

.preview {
  margin-top: 20px;
  text-align: left;
  padding: 16px;
  min-height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  padding: 0;
  /* background-color: aquamarine; */

}