.center {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.heading {
  display: block;
  margin-bottom: 0.75rem;
}

.text {
  display: block;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  gap: 10px;
}
